@import "tailwindcss";


* {
    scrollbar-width: thin;
    scrollbar-color: rgba(117, 118, 118, 0.5) rgba(240, 249, 255, 0.2);
  }
  

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  
  *::-webkit-scrollbar-track {
    background: rgba(240, 249, 255, 0.2);
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(92, 93, 94, 0.5);
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 183, 205, 0.8);
  }
  

  *::-webkit-scrollbar-corner {
    background: transparent;
  }